
/**reset**/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
/* img */
img {
    max-width: 100%;
    display: block;
}

/* container */

.container {
    width: 80%;
    margin: auto;
}


/*leyout*/
body{
    background-color: lightgray;
}


.p-2 {
    padding: 2rem 0;
}